.buttons{
    -fx-background-radius:14;
    -fx-background-color: #DDE6ED;
    -fx-border-radius:14;
    -fx-border-width:3;
    -fx-alignment:center;
}


.clickBtn{
    -fx-background-radius:14;
    -fx-border-radius:14;
    -fx-border-width:3;
    -fx-text-fill:white;
    -fx-border-color:white;
    -fx-background-color: #001C30;
    -fx-border-radius:14;
}

.table-view{
   -fx-background-color: transparent;
   -fx-font-size: 17;
   -fx-font-weight:bold;
}

.table-view .column-header {
    -fx-font-size: 18;
}

.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.table-view .corner {
    -fx-background-color: transparent;
    -fx-background-radius: 7px 7px 0px 0px;
}

.table-view .column-header-background{
    -fx-background-color: linear-gradient(to top, #1dbbdd44, #026E70);
    -fx-text-background-color:white;
    -fx-background-insets: 0 11px 0 0;
    -fx-padding: 0 0 5px 0;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
}

.table-row-cell: odd{
    -fx-background-color: #93f9b911;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-row-cell: even{
    -fx-background-color: #1dbbdd11;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-row-cell: selected {
    -fx-background-color: #026E70;
    -fx-text-background-color: white;
}
.table-row-cell: hover {
    -fx-background-color: #026E70;
    -fx-text-background-color: white;
}

.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}

.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}

.round_borders {
    -fx-border-radius:12;
    -fx-background-radius:12;
}

.round_rank {
    -fx-border-radius:12;
    -fx-background-radius:12;
    -fx-border-color:white;
    -fx-border-width:3;
    -fx-background-color: #27374D;

}

.labels {
    -fx-font-size: 15;
    -fx-text-fill:white;
    -fx-font-weight:bold;
}
